.diagnoza
{
  margin-top: 20px;
  color: aliceblue;
}
.style-good
{
  color: green;

}

.style-bad
{
font-weight: bolder;
color: red;
}
.main
{
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;

}
